.vscode/
Backup/
checkpoints/
configs/

cvs/train/*
!cvs/train/C_3_7_1_BU_DYA_07-31_15-15-25_CA_RGB_DF2_M1.mp4
cvs/val/*
!cvs/val/C_3_7_5_BU_DYA_07-27_11-06-17_CB_RGB_DF2_M2.mp4

preprocessors/source/train/others/*
!preprocessors/source/train/others/C_3_7_1_BU_DYA_07-31_15-15-25_CA_RGB_DF2_M1.MP4
preprocessors/source/train/stealing/*
!preprocessors/source/train/stealing/C_3_12_4_BU_SMB_08-28_16-31-01_CB_RGB_DF2_F1.MP4
preprocessors/source/val/others/*
!preprocessors/source/val/others/C_3_7_5_BU_DYA_07-27_11-06-17_CB_RGB_DF2_M2.MP4
preprocessors/source/val/stealing/*
!preprocessors/source/val/stealing/C_3_12_1_BU_DYA_07-31_16-15-01_CA_RGB_DF2_M1.MP4
*.zip

validate/results/*
!validate/results/S95_C_3_13_36_BU_SYB_09-14_16-02-20_CA_RGB_DF2_M4_FIGHT.txt
!validate/results/S5_C_3_7_54_BU_DYB_10-17_10-35-21_CE_RGB_DF2_F2_FALL.txt
!validate/results/S25_C_3_12_47_BU_DYB_10-17_13-44-21_CE_RGB_DF2_M3_STEAL.txt

validate/VS*/*
!validate/VS_7FALL/C_3_7_51_BU_DYB_10-17_10-30-20_CB_RGB_DF2_F2.mp4
!validate/VS_9FIRE/C_3_9_36_BU_SMA_09-27_14-12-28_CD_RGB_DF2_F3.mp4
!validate/VS_10SMOKE/C_3_10_35_BU_SMB_09-02_17-00-45_CA_RGB_DF2_F3.mp4
!validate/VS_12STEAL/C_3_12_43_BU_DYB_10-16_14-55-05_CE_RGB_DF2_F1.mp4
!validate/VS_13FIGHT/C_3_13_33_BU_SMA_09-05_15-53-00_CA_RGB_DF2_F4.mp4

tutorial_exps/20231201_152734/
!tutorial_exps/tsm_imagenet-pretrained-r50_8xb16-1x1x8-100e_kinetics400-rgb.py

/train*/*
/yolo*



